.container {
    display: flex;
    margin: -10px 10px;
    place-items: center;
    text-align: center;
}

.pokemonContainer {
    display: grid;
    place-items: center;
    width: 350px;
    height: 200px;
    padding: 20px;
}

.img {
    width: 200px;
    height: 200px;
    background-image: url(../immagini/Pokeball.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#buttonRimuovi {
    color: red;
    width: 80%;
}

.quattroItem {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1.5fr 1fr;
}

.loading {
    animation-name: loadingBall;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loadingBall {
    from {rotate: 20deg;}
    to {rotate: 380deg;}
}